.column {
    width: 20%;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border: solid;
    height: 300px;
    margin-right: 10px;
    margin-bottom: 30px;
}
.row ::after {
    content: "";
    display: table;
    clear: both;
}
.para-item{
    display: block;   
}